@font-face{
  font-family: ManifoldDSA;
  src: url('ManifoldDSA-Regular.woff') format('woff');
}

@font-face {
  font-family: ManifoldDSA;
  src: url(ManifoldDSA-Bold.woff) format('woff');
  font-weight: bold;
}

body {
  font: 16px "ManifoldDSA", Helvetica, sans-serif;
  margin: 5% 20% 5% 20%;
}

header {
  margin-bottom: 10%;
}

h1, .accent {
  color: #ec1f27;
}

.accent {
  font-weight: bold;
}

a, #count {
  font-weight: bold;
}

.resolution {
  color: black;
}

a:link {
  color: black;
}

a:hover, a:visited{
  color: #ec1f27;
}

footer {
  margin-top: 10%;
  text-align: center;
}

footer span {
  display: inline-block;
}

@media screen and (max-width: 900px) {
  body {
    margin: 5%;
  }
}
